events {}
http {
    upstream backend {
        # the Netdata server
        server ip-172-31-11-31.ap-south-1.compute.internal:19999;
    }

    server {
        # nginx listens to this
        listen 80;
        server_name  $hostname;

        location / {
	    proxy_pass http://backend;
        }
    }
}
